.DS_Store
# composer.lock # sollte mit-committet werden, um zu sehen, welche Versionen eigentlich gerade tatsächlich live sind und damit ein "composer install" genau diese versionen installiert

export/*
# packages/* # as long as we don't have an internal packagist-repo...
public/*

# vendor/*   # as long as we don't have an internal packagist-repo...
.idea

**/.sass-cache/*
node_modules
/ms_view_desktop
/ms_view_rtf
/ms_view
npm-debug.log
build_vars.sh
